.Home {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.left-section {
  width: 50vw;
  background: linear-gradient(rgba(44, 45, 51, 0.9), rgba(44, 45, 51, 0.9)),
    url(../Assets//Images/background.jpeg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  width: 50vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .Home {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    height: 100vh;
    width: 100%;
  }
}

.right-navbar {
  width: 100%;
  height: 20vh;
  background-color: black;
}

.left-content {
  color: white;
  text-align: center;
  max-width: 400px;
  width: 100%;
  z-index: 1;
}

.right-content {
  padding: 10px;
  color: black;
  text-align: left;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.right-content ul {
  display: inline-block;
  list-style-position: inside;
}

.right-content ul li {
  display: inline;
}

.right-content ul li:after {
  content: " ";
  letter-spacing: 1em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=)
    center center no-repeat;
}

.left-content ul {
  text-align: center;
  list-style-type: none;
  position: relative;
  display: inline-block;
}

.left-content li {
  margin: 10px;
  box-shadow: 0 0 1px transparent;
  display: inline-block;
  background: rgba(44, 45, 51, 0.9);
  margin-right: 10px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.left-content li::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff6f61;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.left-content li:hover::before {
  transform: scaleY(1);
}

.left-content li a {
  border: 1px solid transparent;
  display: inline-block;
  font-size: 24px;
  padding: 0.3em 0.45em;
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
